<main>
    {{#if user.isAdmin}}
        <!-- Mostrar el formulario de inicio de sesi칩n solo para administradores -->
        <h2>Iniciar Sesi칩n</h2>
        <form action="/api/sessions/login/products" method="post">
            <!-- Contenido del formulario de inicio de sesi칩n -->
        </form>
    {{/if}}

    <!-- Otro contenido de la p치gina que es visible para todos -->
</main>


